{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/create.css') }}">
{% endblock %}
{% block title %}Ajout d'un plat{% endblock %}

{% block body %}
    <div class="ajoutPlat d-flex flex-column align-items-center">
        <form action="#">
            <input type="text" value="{{ plats.id }}">
            <input type="text" value="{{ plats.nomPlat }}">
            <input type="text" value="{{ plats.prixVenteTTCPlat }}">

            <input type="submit">
        </form>
    </div>
{% endblock %}