{% extends 'base.html.twig' %}

{% block title %}BackOffice{% endblock %}
{% block stylesheets %}
    {{ parent() }} {# Cette ligne inclut le contenu du bloc stylesheets du template de base #}
    <link rel="stylesheet" href="{{ asset('css/modifierCarte.css') }}">
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light navRecherche">
        <form class="form-inline my-2 my-lg-0  w-50 formRecherche d-flex flex-row" action="#">
            <input class="form-control mr-sm-2 text-center" type="search" placeholder="Recherche par mots clés"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </nav>

    <div class="carteContainer ">
        <div class="listePlats ">
            <div class="titreApero">
                <h3>Box Apéro</h3>
            </div>
            <div class="listesContainer ">
                <form action="{{ path('app_admin_create')}}" method="get">
                    <table>
                        <thead>
                        <tr>
                            <td><label for="nom">nom du plat</label></td>
                            <td><label for="qte">nombre de pieces</label></td>
                            <td><label for="prix">prix ttc</label></td>
                        </tr>
                        </thead>
                        <tbody class="apero">
                        {% for plat in plats %}

                            {% if plat.categorie == 'apero' %}
                                <tr>
                                    <td><input type="text" name="nom" id="nom" value="{{ plat.nomPlat }}"></td>
                                    <td>
                                        <input type="text" name="qte" id="qte" value="{{ plat.quantite }}">
                                    </td>
                                    <td><input type="text" name="prix" id="prix" value="{{ plat.prixVenteTTCPlat }}"></td>
                                    <td><input type="submit" name="modifier" value="Modifier"></td>
                                    <td>
                                        <a href="{{ path('app_supp_plats',{'id': plat.id}) }}" class="btn-alert">Supprimer</a>
                                    </td>
                                </tr>


                                <tr class="m-3">
                                    <td colspan="5">
                                        <textarea name="detailsPlat">{{ plat.descriptionPlat }}</textarea>
                                    </td>
                                </tr>

                            {% endif %}

                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>

        </div>
        <div class="listePlats flexColumn">
            <div class="titreGrignote"><h3>A grignoter</h3></div>
            <div class="listesContainer">
                <form action="#">
                    <table>
                        <tbody class="grignotte">
                        {% for plat in plats %}

                            {% if plat.categorie == 'grignotte' %}
                                <tr>
                                    <td><input type="text" name="nom" id="nom" value="{{ plat.nomPlat }}"></td>
                                    <td>
                                        <input type="text" name="qte" id="qte" value="{{ plat.quantite }}">
                                    </td>
                                    <td><input type="text" name="prix" id="prix" value="{{ plat.prixVenteTTCPlat }}"></td>
                                    <td><input type="submit" name="modifier" value="modifier"></td>
                                    <td>
                                        <button type="submit" name="supprimer" value="{{ plat.id }}">Supprimer</button>
                                    </td>
                                </tr>


                                <tr class="m-3">
                                    <td colspan="5">
                                        <textarea name="detailsPlat">{{ plat.descriptionPlat }}</textarea>
                                    </td>
                                </tr>

                            {% endif %}

                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="apetizer"></div>
                </form>
            </div>

        </div>
        <div class="listePlats flexColumn">
            <div class="titrePlat"><h3>Nos Plats</h3></div>
            <div class="listesContainer flexRow">
                <table>
                    <tbody class="platsResistance">
                    {% for plat in plats %}

                        {% if plat.categorie == 'plat' %}
                            <tr>
                                <td><input type="text" name="nom" id="nom" value="{{ plat.nomPlat }}"></td>
                                <td>
                                    <input type="text" name="qte" id="qte" value="{{ plat.quantite }}">
                                </td>
                                <td><input type="text" name="prix" id="prix" value="{{ plat.prixVenteTTCPlat }}"></td>
                                <td><input type="submit" name="modifier" value="modifier"></td>
                                <td>
{#                                    <button type="submit" name="supprimer" value="{{ plat.id }}">Supprimer</button>#}
                                    <a href="{{ path('app_supp_plats',{'id': plat.id}) }}" class="btn-alert">Supprimer</a>
                                </td>
                            </tr>


                            <tr class="m-3">
                                <td colspan="5">
                                    <textarea name="detailsPlat">{{ plat.descriptionPlat }}</textarea>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
                <div class="apetizer"></div>
            </div>

        </div>
    </div>

{% endblock %}