{% extends 'base.html.twig' %}

{% block title %}La carte{% endblock %}
{% block stylesheets %}
    {{ parent() }} {# Cette ligne inclut le contenu du bloc stylesheets du template de base #}
    <link rel="stylesheet" href="{{ asset('css/laCarte.css') }}">
{% endblock %}

{% block body %}
    <div class="carteContainer flexColumn">
        <div class="listePlats flexColumn">
            <div class="titreApero">
                <h3>Box Apéro<span>- à composer</span></h3>
            </div>
            <div class="listesContainer flexRow">
                <table>
                    <tbody>
                    {% for plat in plats %}

                        {% if plat.categorie == 'apero' %}
                            <tr class="lignePlats collapsed" data-target="detailsPlat{{ plat.id }}">
                                <td>{{ plat.nomPlat }}</td>
                                <td>
                                    {% if plat.quantite is not null %}
                                        {{ plat.quantite }} pièces
                                    {% endif %}
                                </td>
                                <td>{{ plat.prixVenteTTCPlat }} €</td>
                                <td><a href="{{ path('app_admin_create',{'id': plat.id}) }}" class="btn-success">Modifier</a></td>
                                <td>
                                    <a href="{{ path('app_supp_plats',{'id': plat.id}) }}" class="btn-alert">Supprimer</a>
                                </td>
                            </tr>
                            <tr class="description" id="detailsPlat{{ plat.id }}">
                                <td>
                                    <p>{{ plat.descriptionPlat }}</p>
                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
                <div class="apetizer"></div>
            </div>

        </div>
        <div class="listePlats flexColumn">
            <div class="titreGrignote"><h3>A grignoter</h3></div>
            <div class="listesContainer flexRow">
                <table>
                    <tbody class="grignotte">
                    {% for plat in plats %}

                        {% if plat.categorie == 'grignotte' %}
                            <tr class="lignePlats collapsed" data-target="detailsPlat{{ plat.id }}">
                                <td>{{ plat.nomPlat }}</td>
                                <td>
                                    {% if plat.quantite is not null %}
                                        {{ plat.quantite }} pièces
                                    {% endif %}
                                </td>
                                <td>{{ plat.prixVenteTTCPlat }} €</td>
                                <td><a href="{{ path('app_admin_create',{'id': plat.id}) }}" class="btn-success">Modifier</a></td>
                                <td>
                                    <a href="{{ path('app_supp_plats',{'id': plat.id}) }}" class="btn-alert">Supprimer</a>
                                </td>
                            </tr>
                            <tr class="description" id="detailsPlat{{ plat.id }}">
                                <td>
                                    <p>{{ plat.descriptionPlat }}</p>

                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
                <div class="apetizer"></div>
            </div>

        </div>
        <div class="listePlats flexColumn">
            <div class="titrePlat"><h3>Nos Plats</h3></div>
            <div class="listesContainer flexRow">
                <table>
                    <tbody class="platsResistance">
                    {% for plat in plats %}

                        {% if plat.categorie == 'plat' %}
                            <tr class="lignePlats collapsed" data-target="detailsPlat{{ plat.id }}">
                                <td>{{ plat.nomPlat }}</td>
                                <td>
                                    {% if plat.quantite is not null %}
                                        {{ plat.quantite }} pièces
                                    {% endif %}
                                </td>
                                <td>{{ plat.prixVenteTTCPlat }} €</td>
                                <td><a href="{{ path('app_admin_create',{'id': plat.id}) }}" class="btn-success">Modifier</a></td>
                                <td>
                                    <a href="{{ path('app_supp_plats',{'id': plat.id}) }}" class="btn-alert">Supprimer</a>
                                </td>
                            </tr>
                            <tr class="description" id="detailsPlat{{ plat.id }}">
                                <td>
                                    <p>{{ plat.descriptionPlat }}</p>

                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
                <div class="apetizer"></div>
            </div>

        </div>
    </div>
{% endblock %}
