{% extends 'base.html.twig' %}

{% block title %}La carte{% endblock %}
{% block stylesheets %}
    {{ parent() }} {# Cette ligne inclut le contenu du bloc stylesheets du template de base #}
    <link rel="stylesheet" href="{{ asset('css/laCarte.css') }}">
{% endblock %}

{% block body %}

    <div class="carteContainer flexColumn">
        {#     import de la partie barre de recherche #}
        <div class="align-self-center">
            {% include "inc/searchData.html.twig" %}
        </div>
        <div class="listePlats flexColumn">
            <div class="titreApero">
                <h3>Box Apéro<span>- à composer</span></h3>
            </div>
            <div class="listesContainer flexRow">
                <table>
                    <tbody>
                    {% for plat in plats %}                                                             {# Je boucle sur les plats  #}
                        {% if plat.categoriePlat.libelle == 'apero' %}                                  {# Je trie les plats en fonction de leur catégorie  #}
                            <tr class="lignePlats" data-target="detailsPlat{{ plat.id }}">
                                <td>{{ plat.nomPlat }}</td>
                                <td>
                                    {% if plat.quantite is not null %}                                  {# si le plats a une quantité je l'affiche  #}
                                        {{ plat.quantite }} pièces
                                    {% endif %}
                                </td>
                                <td>{{ plat.prixVenteTTCPlat }} €</td>
                                {# si l'utilisateur est identifié en tant qu'admin j'affiche des boutons de modification et de suppression  #}
                                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
                                    <td><a href="{{ path('app_admin_create',{'id': plat.id}) }}" class="btn-success">Modifier</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_supp_plats',{'id': plat.id}) }}"
                                           class="btn-alert boutonSupprimer">Supprimer</a>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr class="detailCache" id="detailsPlat{{ plat.id }}">
                                <td>
                                    <p class="description">{{ plat.descriptionPlat }}</p>
                                    <img class="imgDescription" src="{{ asset('images/'~plat.nomImage) }}"
                                         alt="{{ plat.imgDescription }}">
                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
                <div class="apetizer"></div>
            </div>

        </div>
        <div class="listePlats flexColumn">
            <div class="titreGrignote"><h3>A grignoter</h3></div>
            <div class="listesContainer flexRow">
                <table>
                    <tbody class="grignotte">
                    {% for plat in plats %}
                        {% if plat.categoriePlat.libelle == 'grignote' %}
                        <tr class="lignePlats collapsed" data-target="detailsPlat{{ plat.id }}">
                            <td>{{ plat.nomPlat }}</td>
                            <td>
                                {% if plat.quantite is not null %}
                                    {{ plat.quantite }} pièces
                                {% endif %}
                            </td>
                            <td>{{ plat.prixVenteTTCPlat }} €</td>
                            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
                                <td><a href="{{ path('app_admin_create',{'id': plat.id}) }}" class="btn-success">Modifier</a>
                                </td>
                                <td>
                                    <a href="{{ path('app_supp_plats',{'id': plat.id}) }}"
                                       class="btn-alert boutonSupprimer">Supprimer</a>
                                </td>
                                </tr>
                            {% endif %}
                            <tr class="detailCache" id="detailsPlat{{ plat.id }}">
                                <td>
                                    <p class="description">{{ plat.descriptionPlat }}</p>
                                    <img class="imgDescription" src="{{ asset('images/'~plat.nomImage) }}"
                                         alt="{{ plat.imgDescription }}">
                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
                <div class="apetizer"></div>
            </div>

        </div>
        <div class="listePlats flexColumn">
            <div class="titrePlat"><h3>Nos Plats</h3></div>
            <div class="listesContainer flexRow">
                <table>
                    <tbody class="platsResistance">
                    {% for plat in plats %}
                        {% if plat.categoriePlat.libelle == 'plat' %}
                            <tr class="lignePlats collapsed" data-target="detailsPlat{{ plat.id }}">
                                <td>{{ plat.nomPlat }}</td>
                                <td>
                                    {% if plat.quantite is not null %}
                                        {{ plat.quantite }} pièces
                                    {% endif %}
                                </td>
                                <td>{{ plat.prixVenteTTCPlat }} €</td>
                                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
                                    <td><a href="{{ path('app_admin_create',{'id': plat.id}) }}" class="btn-success">Modifier</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_supp_plats',{'id': plat.id}) }}"
                                           class="btn-alert boutonSupprimer">Supprimer</a>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr class="detailCache" id="detailsPlat{{ plat.id }}">
                                <td>
                                    <p class="description">{{ plat.descriptionPlat }}</p>
                                    <img class="imgDescription" src="{{ asset('images/'~plat.nomImage) }}"
                                         alt="{{ plat.imgDescription }}">
                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
                <div class="apetizer"></div>
            </div>

        </div>
    </div>
    <!-- Modale -->
    <div id="modalContainer" class="modal-container" onclick="closeModal()">
        <div id="modalContent" class="modal-content">
            <h2 id="platTitle"></h2>
            <img id="platImage" src="" alt="">
            <p id="platDescription"></p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/laCarte.js') }}"></script>
{% endblock %}
