{% extends 'base.html.twig' %}

{% block title %}La carte{% endblock %}

{% block body %}
    <div class="listePlats">
        <div class="titreApero"><h3>Box Apréro<span>- à composer</span></h3></div>
            <table>
                <tbody class="apero">
                {% for plat in plats %}

                          {% if plat.categorie == 'apero' %}
                        <tr class="lignePlats collapsed" data-target="detailsPlat{{ plat.id }}" >
                            <td>{{ plat.nomPlat }}</td>
                            <td>
                            {% if plat.quantite is not null %}
                                {{ plat.quantite }} pièces
                            {% endif %}
                            </td>
                            <td>{{ plat.prixVenteTTCPlat }} €</td>
                        </tr>
                        <tr class="description" id="detailsPlat{{ plat.id }}">
                            <td >
                                <p>{{ plat.descriptionPlat }}</p>

                            </td>
                        </tr>

                          {% endif %}

                {% endfor %}
                </tbody>
            </table>

    </div>
    <div class="listePlats">
        <div class="titreApero"><h3>A grignoter</h3></div>
            <table>
                <tbody class="grignotte">
                {% for plat in plats %}

                          {% if plat.categorie == 'grignotte' %}
                        <tr class="lignePlats collapsed" data-target="detailsPlat{{ plat.id }}" >
                            <td>{{ plat.nomPlat }}</td>
                            <td>
                            {% if plat.quantite is not null %}
                                {{ plat.quantite }} pièces
                            {% endif %}
                            </td>
                            <td>{{ plat.prixVenteTTCPlat }} €</td>
                        </tr>
                        <tr class="description" id="detailsPlat{{ plat.id }}">
                            <td >
                                <p>{{ plat.descriptionPlat }}</p>

                            </td>
                        </tr>

                          {% endif %}

                {% endfor %}
                </tbody>
            </table>

    </div>
    <div class="listePlats">
        <div class="titreApero"><h3>Nos Plats</h3></div>
        <table>
            <tbody class="platsResistance">
            {% for plat in plats %}

                {% if plat.categorie == 'plat' %}
                    <tr class="lignePlats collapsed" data-target="detailsPlat{{ plat.id }}" >
                        <td>{{ plat.nomPlat }}</td>
                        <td>
                            {% if plat.quantite is not null %}
                                {{ plat.quantite }} pièces
                            {% endif %}
                        </td>
                        <td>{{ plat.prixVenteTTCPlat }} €</td>
                    </tr>
                    <tr class="description" id="detailsPlat{{ plat.id }}">
                        <td >
                            <p>{{ plat.descriptionPlat }}</p>

                        </td>
                    </tr>

                {% endif %}

            {% endfor %}
            </tbody>
        </table>

    </div>
{#    #}
{#    <div class="listePlats">#}
{#        <table>#}
{#            <tbody class="desserts">#}
{#            {% for plat in plats %}#}

{#                {% if plat.categorie == 'dessert' %}#}
{#                    <tr class="lignePlats collapsed" data-target="detailsPlat{{ plat.id }}" >#}
{#                        <td>{{ plat.nomPlat }}</td>#}
{#                        <td>#}
{#                            {% if plat.quantite is not null %}#}
{#                                {{ plat.quantite }} pièces#}
{#                            {% endif %}#}
{#                        </td>#}
{#                        <td>{{ plat.prixVenteTTCPlat }} €</td>#}
{#                    </tr>#}
{#                    <tr class="description" id="detailsPlat{{ plat.id }}">#}
{#                        <td >#}
{#                            <p>{{ plat.descriptionPlat }}</p>#}

{#                        </td>#}
{#                    </tr>#}

{#                {% endif %}#}

{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}

{#    </div>#}
{% endblock %}
